@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
* {
    letter-spacing: 1.3px;
}

.log {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: flex-start;
    background-image: linear-gradient( 115deg, rgba(44, 62, 80, 0.3), rgba(91, 100, 103, 0.3)), url(./images/homeimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
}

.log .text, .log .box {
    padding-bottom: 6rem;
    padding-top: 6rem;
}

.log .text {
    font-weight: 300px;
    text-align: center;
    margin-left: 10%;
}

.log .box {
    margin-left: 40%;
}

.log .text h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 6rem;
    color: #fff;
    font-weight: 500;
}

.log .text p {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 300;
}

.log .text p a {
    color: #fff;
    font-weight: 700;
}

.log .form {
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.log input {
    font-size: 1rem;
    border-radius: 5px;
    background-color: transparent;
    margin: 1rem 0;
    padding: 0.7rem;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    border-bottom: 1px solid #ccc;
    font-family: 'Raleway', sans-serif;
}

.log input:focus{
    background-color: #333;
}
.log input:focus > .instruction{
    display: block;
}
.log input::placeholder {
    font-style: italic;
    color: #ccc;
    font-size: 1rem;
}

.log .item {
    position: relative;
}
.log .item i{
    position: absolute;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.35rem;
    background-color: #228B22;
    top: 35%;
    left: 100%;
    border-radius: 50%;
    display: none;
}
.log .instruction {
    margin-right: 2rem;
    position:absolute;
    border-radius: 5px;
    top: 20%;
    right: 100%;
    width: 7rem;
    font-size: 0.8rem;
    letter-spacing: 1.1px;
    padding: 10px;
    color: #333;
    font-family: sans-serif;
    background-color: transparent;
    background-color: #fff;
    word-wrap: break-word;
    font-style: italic;
    display: none;
}
.log .instruction.active{
    display: block;
}
.log .instruction::before {
    content: "";
    top: 15%;
    left: 100%;
    transform: translate(0,-20%);
    position: absolute;
    border-top: 10px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 10px solid transparent;
    width: 0;
    height: 0;
}

.log .button {
    background: transparent;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 18px;
    cursor: pointer; 
    pointer-events: none;
    
}
.log .button.login{
    pointer-events: auto;
    color: #fff;
    border: 1px solid #fff;
}
.log .button:hover {
    background: rgba(255, 255, 255,0.3);
    transition: all 0.25s ease-out;
}
.log .text a:hover {
    color: rgba(255, 69, 0, 0.6);
    transition: all 0.25s ease-out;
}

.log .form .validate {
    margin-left: 0.7rem;
    display: block;
    font-size: 0.8rem;
    color: #f10000;
    letter-spacing: 1.2px;
    margin-top: -0.5rem;
    font-style: i;
}

.log .form .validate i {
    margin-right: 0.2rem;
}

/* signup */
.signup .box{
    padding: 0;
    margin-top: 1.7rem;
}
.signup .text{
    margin-top: 1.5rem;
}

